body {
    background: url('/MainFiles/signUp/sign_up.jpg') repeat;
    background-size: auto;
    background-attachment: fixed;
    background: linear-gradient(45deg, #e9f6ff, #e9f6ff);
    background-position: center center;
}

.costumF {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.vertical-image {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; 
    width: auto;
}