
#epara{
    color: black;
    margin-bottom: 0px;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
}
#titulli{
  
font-family: 'Abril Fatface', serif;
font-family: 'Caprasimo', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lobster', sans-serif;
font-family: 'Preahvihear', sans-serif;
font-family: 'Vina Sans', sans-serif;
color: white;
font-size: 40px;
}

div h3{
    font-size: 15px;
}
.modelet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-color: white;
}
.modelet .card {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
}
.modelet .card .images {
    margin: 20px 0px;
    font-size: 32px;
    align-self: center;
}
p.air{
    text-align: right;
    
}

a.air{
  text-align: right;
  text-decoration: none;
  color: black;
  
}

a.air:hover{
  background-color: black;
  color:white;
}
a.rt{
  text-decoration: none;
  color: white;
}

@font-face {
    font-family: "Preahvihear-Regular";
    src: url(Preahvihear-Regular.ttf);
}


.reklamat table {
    width: 100%;
    border-spacing: 10px;
  }

  .reklamat .carda {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
  }

  .reklamat .carda img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .reklamat .carda .imagess {
    margin: 20px 0px;
    font-size: 32px;
  }

  .reklamat .carda p {
    /* height: 400px; */
    /* width: 400px; */
    line-height: 24px;
    margin-bottom: 20px;
  }

  .imagess{
    width: 400px;
    height: 400px;
  }

  .family {
    position: relative;
    height: 100vh; 
    background-image: url('../../Images/three_balenciaga.jpg');
    background-size: cover;
    color: white; 
    padding: 20px; 
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 18px;
    text-align: right;
}
#reklama{
    font-family: "Preahvihear-Regular";
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.trinity{
    font-family: "Preahvihear-Regular";
    text-align: center;
}


@font-face {
    font-family: "SourceCodePro-Italic-VariableFont_wght","SourceCodePro-VariableFont_wght";
    src: url(SourceCodePro-Italic-VariableFont_wght.ttf);
    src: url(SourceCodePro-VariableFont_wght.ttf);
}
.holiday {
    position: relative;
    height: 100vh;
    background-image: url('../../Images/Img5.jpeg');
    background-size: cover;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #holiday {
    text-align: right;
    font-family: "SourceCodePro-Italic-VariableFont_wght", "SourceCodePro-VariableFont_wght";
    letter-spacing: 8px;
    color: black;
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
  }
  
  .buttons-container {
    text-align: right;
    margin-top: 20px; /* Shto një marginë për të ndarë butonat nga teksti */
  }
  
  a.button {
    color: #000;
    font-weight: bold;
    display: inline-block;
    padding: 12px 18px;
    border: 1px solid #000;
    border-radius: 6px;
    margin-right: 20px;
    transition: all 0.4s ease-in-out;
    font-family: 'Kanit', sans-serif;
  }
  
  a.button:hover {
    color: white;
    background-color: goldenrod;
    border-color: goldenrod;
  }
  
  a {
    text-decoration: none;
  }
  .logo {
    text-align: center; 
  }
  
  .logo img {
    margin: 0 auto;
    align-items: center; 
  }
  /* Nese e kishum perdore me grid  */
  /* .fnd {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.fnd.fndi {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    padding: 10px;
}

a.help{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
}
a.about{
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
}
a.sign{
    color: black;
}
.fnd .fndi a {
    line-height: 24px;
    margin-bottom: 20px;
}
h2.ff{
    text-align: center;
}
  
.lastParagraph{
  text-align: center;
}   */
  
     /* SCROLL */
     ::-webkit-scrollbar{
      width: 9.6px;
      border-radius: 8px;
      background-color: rgb(39,40,37);
  
  }
  ::-webkit-scrollbar-thumb{
      background-color: rgb(65,66,61);
      border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover{
      background-color: rgb(91,93,86);
  }
  /* SCROLL UP */
  .scrollup{
      position: fixed;
      right: 16px;
      bottom: -30%;
      background-color: black;
      display: inline-flex;
      padding: 5.6px;
      font-size: 20px;
      color: white;
      transition: .3s;
      height: 35px;
  }
  .scrollup:hover{
      transform: translateY(-4px);
  }
  /* Scroll Show Up */
  .show-scroll{
  bottom: 48px;
  }
  
  
